:root {
    --color-primary: #1b1835;
    --color-accent: #f2835e;
    --color-secondary: #ffff;

    --ff-title: "BFNarrow", sans-serif;
    --ff-serif: "Crimson Text", serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--ff-serif);
    color: var(--color-text);
    font-size: 1.05rem;
}

body {
    margin: 0;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    text-align: center;
    font-family: sans-serif;
}

.wrap,
.wrap-services,
.wrap-ourvalue {
    width: min(1063px, 90%);
    margin-left: auto;
    margin-right: auto;
}

header {
    --text: #f2835e;
    --text-inverse: #333;
    --background: transparent;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    /* justify-content: space-between; */
    align-items: baseline;
    padding: 0em 3em 1em 3em;
    transition: background 300ms ease-in;
    background: var(--background);
    color: var(--text);
    animation: drop 1.5s ease;
}

.logo {
    width: 150px;
    margin-top: 1.5rem;
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
}

.nav__list {
    margin: 0;
    margin-left: 2rem;
    padding: 0;
    display: flex;
}

.nav__link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #1b1835de;
    color: inherit;
    font-size: 0.8rem;
    padding: 5px 0;
}

.nav__link:not(:last-child) {
    margin-right: 2rem;
}

.nav__link:before,
.nav__link:after {
    position: absolute;
    content: '';
    opacity: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: all 300ms;
}

.nav__link:before {
    left: 0px;
    top: 0px;
}

.nav__link:after {
    right: 0px;
    bottom: 0px;
}

.nav__link:hover:before,
.nav__link:hover:after {
    opacity: 1;
    width: 100%;
}

.contact__us {
    margin-left: auto;
    display: flex;
    align-self: start;
}

.contact__link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    color: #1b1831;
    padding: 0.6rem 0.9rem;
    font-size: 0.6rem;
    font-weight: 600;
    z-index: 1;
}

.contact__link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
    transition: transform 200ms ease-in;
}

.contact__link::after {
    transform: scaleX(0);
    transform-origin: right;
}

.contact__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-scrolled {
    --text: var(--color-accent);
    background: #1b1831f5;

    box-shadow: 0 3px 20px rgba(black, 0.2);
}

/* Hero */

.hero__img {
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.home-intro {
    background: var(--color-primary);
    position: relative;
}

.hero__text {
    position: absolute;
    width: 60%;
    top: 35%;
    right: 30%;
    color: white;
    text-align: start;
    animation: drop 3s ease;
}

.hero__title {
    font-size: 3rem;
    color: var(--color-accent);
    text-shadow: 2px 2px #1b1835de;
    margin-bottom: 1rem;
}

.hero__description {
    width: 30rem;
    text-shadow: 1px 1px #1b1835ab;
}

/* SECCION PROGRAMAS */

.wrap {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.program__card {
    text-align: start;
}

.program__card > *:not(:last-child) {
    margin-bottom: 1.5rem;
}

.card__description {
    font-size: 0.85rem;
}

.program__item {
    position: relative;
    overflow: hidden;
}

.program__item figcaption {
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1rem;
    background: #f2835eb4;
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 300ms ease-in-out;
}

.program__item:hover figcaption {
    top: 0;
}

.program__title {
    padding: 1rem 0rem;
    font-size: 2rem;
    align-self: flex-start;
}

.program__link {
    align-self: flex-end;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid #fff;
    padding: 0.2rem 0rem;
    cursor: pointer;
    transition: all 300ms ease;
}

.program__link:hover {
    transform: scale(0.9);
}

.program__link::after {
    content: url(/assets/img/social/arrow_right.svg);
    margin-left: 0.8rem;
}

.program__modal {
    position: fixed;
    z-index: 10;
    top: 7rem;
    bottom: 1.5rem;
    left: 7rem;
    right: 7rem;
    background: #fff;
    box-shadow: 0 0 0 10rem rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
    overflow-x: hidden;

    display: none;
}

.program__modal.is-active {
    display: block;
}

.modal__close {
    background: #fff;
    position: fixed;
    left: 6.5rem;
    top: 6.5rem;
    border: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: 1.25rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 9999;
}

.modal__close:hover,
.modal__close:focus {
    background: var(--color-primary);
    color: #fff;
}

.modal__header {
    text-align: left;
    padding: 5rem 0;
    margin-bottom: 2rem;
    background-size: cover;
    background-position: center;
}

.header-one {
    background-image: url('img/covid.jpg');
}

.header-two {
    background-image: url('img/resistencia_org.jpg');
}

.modal__title-box {
    background: #1b18358c;
    color: #fff;
    padding: 2rem 0rem 2rem 2rem;
    width: 75%;
}

.modal__title {
    font-size: 2.5rem;
}

.modal__content {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.modal__content p {
    margin: 2rem 0rem;
    line-height: 1.5;
}

.modal__full-width {
    width: 100vw;
    max-width: initial;
    margin: 2rem calc(50% - 50vw);
    height: 40vh;
    object-fit: cover;
}

.modal__pull-left {
    width: 60%;
    float: left;
    margin-right: 2rem;
}

.modal__pull-right {
    width: 60%;
    float: right;
    margin-left: 2rem;
}

@keyframes modalIn {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@keyframes modalOut {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

/* INSPIRACION */

.inspiration__desc {
    text-align: start;
}

.inspiration__desc > *:not(:last-child) {
    margin-bottom: 1.5rem;
}

.inspiration__text {
    font-size: 0.85rem;
}

.inspiration__text:nth-last-child(1) {
    padding-top: 2rem;
    padding-left: 1rem;
    background-image: url(/assets/img/social/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: 0% top;
}

/* AREAS SERVICIOS */

.wrap-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.services__info {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.services__title {
    margin-top: 8rem;
    position: relative;
    padding-bottom: 1.25rem; /* revisar */
    font-size: 2rem;
}

.services__title::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 4rem;
    height: 5px;
    background: var(--color-accent);
    bottom: 0;
}

.service__title {
    padding-bottom: 1.25rem;
}

.services__desc {
    font-size: 0.85rem;
}

/* NUESTRO VALOR */

.wrap-ourvalue {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
}

.icon__value {
    font-size: 2.5rem;
    color: var(--color-accent);
    padding: 2rem;
}

/* Alianzas */

.grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: -0.135em;
	text-align: center;
	cursor: pointer;
}

.grid figure figcaption {
	padding: 2em;
	color: var(--color-primary);
	/* text-transform: uppercase; */
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

figure.our__alliance {
	background: var(--color-accent);
}

figure.our__alliance img {
	/* opacity: 0.7; */
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.our__alliance:hover img {
	opacity: 0.5;
}

figure.our__alliance figcaption::before,
figure.our__alliance figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.our__alliance figcaption::before {
	border-top: 5px solid var(--color-accent);
	border-bottom: 5px solid var(--color-accent);
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.our__alliance figcaption::after {
	border-right: 5px solid var(--color-accent);
	border-left: 5px solid var(--color-accent);
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.our__alliance h2 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.our__alliance p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.our__alliance:hover figcaption::before,
figure.our__alliance:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.our__alliance:hover h2,
figure.our__alliance:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* FOOTER */

.footer {
    background-color: #2d314d;
    color: white;
    font-size: 0.75rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-top: 8rem;
}

.footer__container {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "logo links1 links2" 
        "social links1 links2";
    gap: 1.5em;
    justify-items: start;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.footer a {
    color: white;  /*** SACAR ***/
}

.footer__logo {
    width: 70%;
    margin: 0 auto 1rem auto;
}

.footer__main > *:not(:last-child) {
    text-align: start;
    margin-bottom: 1rem;
}

.footer__main {
    grid-area: logo;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}

.footer__title {
    font-size: 0.8rem;
}

.footer__info {
    font-size: 0.7rem;
}

.footer__img {
    width: 40px;
    height: 34.7333px;
}

.footer__social {
    grid-area: social;
    display: flex;
    align-self: end;
}

.footer__icon img {
    width: 25px;
    transition: all 200ms ease-in;
}

.footer__icon img:hover {
    transform: scale(1.15);
}

.footer__icon:not(:last-child) {
    margin-right: 0.8rem;
}

.footer__links {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.footer__links >*:not(:last-child) {
    margin-bottom: 1rem;
}

.footer__links.col1 {
    grid-area: links1;
}

.footer__links.col2 {
    grid-area: links2;
}

/* Acerca De */

.wrap-about {
    width: min(1063px, 90%);
    margin-left: auto;
    margin-right: auto;
}

.about__us p,
.about__howwedo p,
.about__challenge p {
    font-size: clamp(0.8rem, 1.5vw, 0.9rem);
    margin-bottom: 1.25rem;
    text-align: start;
}

.about__title {
    font-size: 2rem;
    width: 70%;
    margin: 4rem auto 1.5rem auto;
    color: var(--color-accent);
}

.about__us h2:first-child {
    margin-top: 8rem;
}

span {
    font-weight: bold;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    } 100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Contacto */

.wrap-services:nth-child(1) {
    margin-top: 8rem;
}

.contact__info {
    margin: 1rem 0;
    font-size: 0.85rem;
}

.form__container {
    position: relative;
    width: min(1063px, 90%);
    padding-top: 5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.form {
    width: 100%;
    max-width: 800px;
    /* box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2); */
    z-index: 777;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact__form {
    background-color: #d7dcf5;
    position: relative;
}

form {
    padding: 1rem 2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.form__title {
    padding: 0.5rem 0rem;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    text-align: start;
}

.input__container {
    position: relative;
    margin: 1rem 0;
}

.input {
    width: 100%;
    outline: none;
    border: 2px solid var(--color-primary);
    /* border-radius: 1px; */
    /* background: none; */
    padding: 0.6rem 1.2rem;
    margin: 0.4rem 0rem;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    transition: all 300ms ease;
}

textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    resize: none;
    overflow-y: auto;
    font-size: 0.8rem;
}

.input__container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--color-primary);
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 999;
    transition: all 500ms ease;
}

.input__container.textarea label {
    top: 1rem;
    transform: translateY(0);
}

.form__btn {
    padding: 0.6rem 1.3rem;
    background-color: #f4f4fc;
    border: 2px solid #f4f4fc;
    border-radius: 10px;
    font-size: 0.9rem;
    color: var(--color-primary);
    outline: none;
    cursor: pointer;
    transition: all 300ms ease;
    margin: 0;
}

.input__container.focus label {
    top: 0;
    transform: translateY(-65%);
    left: 0px;
    font-weight: bold;
    font-size: 0.8rem;
    color: #f2835e;
}

.input__container.focus span::before,
.input__container.focus span::after {
    width: 50%;
    opacity: 1;
}

.google__maps {
    width: 100%;
    height: 100%;
    display: block;
}

/*Responsive Tablet*/

@media only screen and (max-width: 768px) {
    header {
        background: #1b1835b0;
    }

    .contact__us {
        display: none;
    }

    .hero__text {
        width: 70%;
        right: 24%;
    }

    .hero__description {
        width: 26rem;
    }

    .program__title {
        display: none;
    }

    .program__item figcaption {
        top: 0;
        background: transparent;
        justify-content: flex-end;
    }

    .program__modal {
        top: 7.5rem;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
    }

    .modal__close {
        background: var(--color-accent);
        position: fixed;
        left: 1.5rem;
        top: 8rem;
    }

    .modal__pull-left {
        width: 100%;
        float: none;
    }
    
    .modal__pull-right {
        width: 100%;
        float: none;
        margin-left: 0;
    }

    .wrap,
    .wrap-services {
        grid-template-columns: repeat(1, 1fr);
    }

    .wrap-services {
        grid-gap: unset;
    }

    .wrap-ourvalue {
        grid-template-columns: repeat(2, 1fr); 
    }

    .form {
        grid-template-columns: 1fr;
    }

    .contact__form::before {
        top: -13px;
        left: initial;
        right: 70px;
    }

    .input__container label,
    .input__container.textarea label {
        top: 0;
        left: 0;
        transform: translateY(-74%);
    }

    .google__maps {
        height: 400px;
    }

    .footer {
        text-align: center;
    }

    .footer__logo {
        display: flex;
        justify-content: center;
    }

    .footer__container {
        display: inline;
    }

    .footer__links {
        align-items: center;
        line-height: 2;
    }

    .footer__links > * {
        margin-bottom: 0.5rem;
    }

    .footer__title {
        margin-bottom: 3px !important;
        text-align: inherit !important;
    }

    .footer__social {
        justify-content: center;
    }

    .footer__icon {
        padding: 1rem 0rem;
    }
}

/*Responsive Mobile*/

@media only screen and (max-width: 576px) {
    header {
        flex-direction: column;
        padding: 0.5rem 0rem;
    }

    .logo {
        margin: 0 auto;
    }

    .nav__list {
        margin: auto;
        align-self: center;
    }

    .nav__link {
        margin-top: 10px;
    }

    .home-intro {
        height: 100vh;
    }

    .hero__img {
        height: 70vh;
        padding-top: 6rem;
    }

    .hero__text {
        width: 90%;
        right: 5%;
        top: 26%;
    }

    .hero__title {
        font-size: 3.3rem;
        margin-bottom: 3rem;
    }

    .hero__description {
        font-size: 1rem;
        width: 100%;
        padding-bottom: 1rem;
    }

    .program__modal {
        top: 7rem;
        bottom: 0.5rem;
        left: 0.5rem;
        right: 0.5rem;
    }

    .modal__close {
        font-size: 1rem;
        left: 1rem;
        top: 7.5rem;
    }
    
    .modal__title {
        font-size: 1.8rem;
    }
}