:root {
    --color-primary: #1b1831;
    --color-accent: #f2835e;
    --color-secondary: #ffff;

    --ff-title: "BFNarrow", sans-serif;
    --ff-serif: "Crimson Text", serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--ff-serif);
    color: var(--color-text);
    font-size: 1.05rem;
}

body {
    margin: 0;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    text-align: center;
    font-family: sans-serif;
}

section:not(:first-of-type) {
    margin-top: 10rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

header {
    --text: #f2835e;
    --text-inverse: #333;
    --background: transparent;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    /* justify-content: space-between; */
    align-items: baseline;
    padding: 0em 3em 1em 3em;
    transition: background 300ms ease-in;
    background: var(--background);
    color: var(--text);
    animation: drop 1.5s ease;
}

.logo {
    width: 150px;
    margin-top: 1.5rem;
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
}

.nav__list {
    margin: 0;
    margin-left: 2rem;
    padding: 0;
    display: flex;
}

.nav__link {
    text-decoration: none;
    color: inherit;
    position: relative;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 5px 0;
}

.nav__link:not(:last-child) {
    margin-right: 2rem;
}

.nav__link:before,
.nav__link:after {
    position: absolute;
    content: '';
    opacity: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: all 300ms;
}

.nav__link:before {
    left: 0px;
    top: 0px;
}

.nav__link:after {
    right: 0px;
    bottom: 0px;
}

.nav__link:hover:before,
.nav__link:hover:after {
    opacity: 1;
    width: 100%;
}

.contact__us {
    margin-left: auto;
    display: flex;
    align-self: start;
}

.contact__link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    color: #1b1831;
    padding: 0.6rem 0.9rem;
    font-size: 0.6rem;
    font-weight: 600;
    z-index: 1;
}

.contact__link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
    transition: transform 200ms ease-in;
}

.contact__link::after {
    transform: scaleX(0);
    transform-origin: right;
}

.contact__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-scrolled {
    --text: var(--color-accent);
    background: #1b1831f5;

    box-shadow: 0 3px 20px rgba(black, 0.2);
}

/* Hero */

.hero__img {
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.home-intro {
    background: #1b1831;
    position: relative;
}

.hero__text {
    position: absolute;
    width: 60%;
    top: 35%;
    right: 30%;
    color: white;
    text-align: start;
    animation: drop 3s ease;
}

.hero__title {
    font-size: 3rem;
    color: var(--color-accent);
    margin-bottom: 1rem;
}

.hero__description {
    width: 30rem;
}

/* SECCION PROGRAMAS */

.wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.program__card {
    text-align: start;
}

.program__card > *:not(:last-child) {
    margin-bottom: 1rem;
}

.program__description {
    font-size: 0.85rem;
}

/* INSPIRACION */

.inspiration__desc {
    text-align: start;
}

.inspiration__desc > *:not(:last-child) {
    margin-bottom: 2rem;
}

.inspiration__text {
    font-size: 0.85rem;
}

/* AREAS SERVICIOS */

.wrap-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.services__info {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.services__title {
    position: relative;
    padding-bottom: 1.25rem; /* revisar */
    font-size: 2rem;
}

.services__title::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 4rem;
    height: 3px;
    background: var(--color-accent);
    bottom: 0;
}

.service__title {
    padding-bottom: 1.25rem;
}

.services__desc {
    font-size: 0.85rem;
}

/* NUESTRO VALOR */

.wrap-ourvalue {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.icon__value {
    font-size: 2.5rem;
    color: var(--color-accent);
    padding: 2rem;
}

/* Alianzas */

.our__alliance {
    position: relative;
}

.alliance__title {
    text-decoration: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    font-size: 1.5rem;
}

/* FOOTER */

.footer {
    background-color: #2d314d;
    color: white;
    font-size: 0.75rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-top: 8rem;
}

.footer__container {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "logo links1 links2" 
        "social links1 links2";
    gap: 1.5em;
    justify-items: start;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.footer a {
    color: white;  /*** SACAR ***/
}

.footer__logo {
    width: 70%;
    margin: 0 auto 1rem auto;
}

.footer__main > *:not(:last-child) {
    text-align: start;
    margin-bottom: 1rem;
}

.footer__main {
    grid-area: logo;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}

.footer__title {
    font-size: 0.8rem;
}

.footer__info {
    font-size: 0.7rem;
}

.footer__img {
    width: 40px;
    height: auto;
}

.footer__social {
    grid-area: social;
    display: flex;
    align-self: end;
}

.footer__icon img {
    width: 25px;
    transition: all 200ms ease-in;
}

.footer__icon img:hover {
    transform: scale(1.15);
}

.footer__icon:not(:last-child) {
    margin-right: 0.8rem;
}

.footer__links {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.footer__links >*:not(:last-child) {
    margin-bottom: 1rem;
}

.footer__links.col1 {
    grid-area: links1;
}

.footer__links.col2 {
    grid-area: links2;
}

/* Acerca De */

.about__us p,
.about__howwedo p,
.about__challenge p {
    font-size: clamp(0.8rem, 1.5vw, 0.9rem);
    margin-bottom: 1.25rem;
    text-align: start;
}

.about__title {
    font-size: 2rem;
    width: 70%;
    margin: 4rem auto 1.5rem auto;
    color: var(--color-accent);
}

span {
    font-weight: bold;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    } 100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Contacto */

.form__container {
    position: relative;
    width: 100%;
    padding: 2rem 0rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    max-width: 800px;
    /* box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2); */
    z-index: 777;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact__form {
    background-color: #d7dcf5;
    position: relative;
}

form {
    padding: 1rem 2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.form__title {
    padding: 0.5rem 0rem;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    text-align: start;
}

.input__container {
    position: relative;
    margin: 1rem 0;
}

.input {
    width: 100%;
    outline: none;
    border: 2px solid var(--color-primary);
    /* border-radius: 1px; */
    /* background: none; */
    padding: 0.6rem 1.2rem;
    margin: 0.4rem 0rem;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    transition: all 300ms ease;
}

textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    resize: none;
    overflow-y: auto;
    font-size: 0.8rem;
}

.input__container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--color-primary);
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 999;
    transition: all 500ms ease;
}

.input__container.textarea label {
    top: 1rem;
    transform: translateY(0);
}

.form__btn {
    padding: 0.6rem 1.3rem;
    background-color: #f4f4fc;
    border: 2px solid #f4f4fc;
    border-radius: 10px;
    font-size: 0.9rem;
    color: var(--color-primary);
    outline: none;
    cursor: pointer;
    transition: all 300ms ease;
    margin: 0;
}

.input__container.focus label {
    top: 0;
    transform: translateY(-65%);
    left: 0px;
    font-weight: bold;
    font-size: 0.8rem;
    color: #f2835e;
}

.input__container.focus span::before,
.input__container.focus span::after {
    width: 50%;
    opacity: 1;
}

.google__maps {
    width: 100%;
    height: 100%;
    display: block;
}

@media only screen and (max-width: 768px) {
    .form {
        grid-template-columns: 1fr;
    }

    .contact__form::before {
        top: -13px;
        left: initial;
        right: 70px;
    }

    .google__maps {
        height: 400px;
    }

    .input__container label,
    .input__container.textarea label {
        top: 0;
        left: 0;
        transform: translateY(-74%);
    }
}